.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    @include easeOut;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:first-child {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  &-nav {
    background-color: darken($primary-color, 5);
    transform: translate3d(0, -100%, 0);

    .nav-item {
      transform: translate3d(600px, 0, 0);
      @include easeOut;

      .nav-link {
        display: inline-block;
        font-size: 2rem;
        padding: 1rem 0;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        text-decoration: uppercase;
        @include easeOut;

        &:hover {
          color: $secondary-color;
        }
      }

      &.show {
        transform: translate3d(0, 0, 0);
      }

      &.current > .nav-link {
        color: $secondary-color;
      }
    }
  }

  &-branding {
    background-color: $primary-color;
    transform: translate3d(0, 100%, 0);

    .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }
}

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
