.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    @include easeOut;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:first-child {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
